.App {
  text-align: center;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-expand-lg {
  background-color: #e8e8e3;
}

title {
  padding-bottom: 20%;
}

body {
  background-color: #9f9f93;
}

head {
  margin-bottom: 100px;
}

#pageText {
  text-align: center;
  display: inline-block;
}

#containerImport{
  background-color: #9f9f93;
  height: 200px;
  width: 700px; 
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 100px;
  overflow: auto;
}

#containerLands{
  background-color: #9f9f93;
  height: 200px;
  width: 700px; 
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 100px;
  overflow: auto;
  margin-bottom: 40px;
}

#containerAlts {
  display: none;
}

#containsText {
  display: none;
}

#container {
  background-color: #f3f3f1;
  height: 200px;
  width: 300px; 
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 170px;
  margin: 0 auto;
  text-align: center;
}

#pageText {
  text-align: center;
}

div {
  margin: 0 auto;
  width: 800px;
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 125px;
  display: inline-block;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
